.button {
    display: block;
    text-align: center;
    color: white;
    background-color: rgb(20, 41, 61);
    padding: 10px 20px;
    font: 18px/22px 'Permanent Marker', Helvetica, Arial, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin: 0 8px;
}
.button:hover {
    cursor: pointer;
    border: none;
    background-color: rgb(44, 91, 136);
};
:disabled {
    background-color: #e4e4e4;
};
:focus {
    outline: none;
}